body{
    height: 100vh;
    background-image: linear-gradient(rgb(241, 227, 227), rgb(14, 62, 82));
}
.logo{
    display: block;
    margin: auto;
    width: 40px;
    height: 40px;
}
h1{
    margin-top: 12 px;
    font-size: 30px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-align: center;
}

.container{
    max-width: 955px;
    border: 2px solid black;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    
}
.message{
    background-color: rgb(233, 227, 227);
    width:24%;
    padding: 10px;
    margin: 17px 12px;
    border: 3px solid black;
    border-radius: 10px;
}
.left{
    float: left;
    clear: both;

}

.right{
    float: right;
    clear: both;
}
#send-container{
    position: fixed;
    bottom: 48px;
    width: 85%;
    display: block;
    margin:auto;
    text-align: center;
    max-width: 1085px;

    width: 100%;
    
    
}
#messageInp{
    width: 80%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}
.btn{
    width: 5%;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}
